

<% @adoptions.each do |adoption| %>

<p>Owners: <%= adoption.get_owner_name %></p>
<p>Animals: <%= adoption.get_pet_name %></p>

<% end %>

<form action="/adoptions/new" method="get">
  <input type="submit" name="" value="New Adoption">
</form>

<a href="/">Home</a>
