<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style_adoption_owners.css">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Nanum+Gothic" rel="stylesheet">
    <title>RMAS</title>
  </head>
  <body>

    <h1>Adoptions</h1>

    <div class="content-container">
    <% @adoptions.each do |adoption| %>
      <div class="single-content-container">
      <p>Owners: <%= adoption.get_owner_name %></p>
      <p>Animals: <%= adoption.get_pet_name %></p>
      </div>
    <% end %>

    <form action="/adoptions/new" method="get">
      <input type="submit" name="" value="New Adoption">
    </form>
    </div>

    <div class="link-container">
    <a href="/add_new/">First time adopting</a>
    <a href="/">Home</a>
    </div>

  </body>
</html>
