

<% @adoptions.each do |adoption| %>

<p>Owners: <%= adoption.owner_id %></p>
<p>Animals: <%= adoption.animal_id %></p>

<% end %>

<form action="/adoptions/new" method="get">
  <input type="submit" name="" value="new adoption">
</form>

<a href="/">Home</a>
