<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style_edit_animal.css">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Nanum+Gothic" rel="stylesheet">
    <title>RMAS</title>
  </head>
  <body>

    <h1>Edit information for <%= "#{@animals.name}"%>;</h1>

  <div class="outside-content">
    <div class="content">
    <form method="post" action="/edit_animal/<%= @animals.id %>">
      <label for="pet-name">Change/Edit name:</label>
        <input type="text" name="name" id="pet-name"/>
    <br>

      <label for="type-select">Type of Animal:</label>
        <select id="type-select" name="type">
          <option value="Cat">Cat</option>
          <option value="Dog">Dog</option>
        </select>
    <br>

      <label for="pet-breed">Breed:</label>
        <input type="text" name="breed" id="pet-breed"/>
    <br>

      <label for="pet-age">Pet age</label>
        <input type="text" name="age" id="pet-age"/>
    <br>

      <textarea name="description" rows="10" cols="30">Short Description</textarea>
    <br>

      <label for="availability">Ready for adoption?</label>
        <select id="availability" name="status">
          <option value="Available">Available</option>
          <option value="Reserved">Reserved</option>
          <option value="Adopted">Adopted</option>
        </select>
    <br>

    <p>Original Admission Date: <%= @animals.admission_date %></p>
      <label for="date-added">Change Admission Date:</label>
        <input type="text" name="admission_date" id="date-added"/>
    <br>

      <input type="submit" value="Update Information"/>

    </form>
    </div>
  </div>

  <div class="link-container">
    <a href="/">Home</a>
  </div>


  </body>
</html>
