<p>Edit information for <%= "#{@animals.name}"%>;</p>

<form method="post" action="/edit_animal/<%= @animals.id %>">
  <label for="pet-name">Change/Edit name:</label>
    <input type="text" name="name" id="pet-name"/>


  <label for="type-select">Type of Animal:</label>
    <select id="type-select" name="type">
      <option value="Cat">Cat</option>
      <option value="Dog">Dog</option>
    </select>

  <label for="pet-breed">Breed:</label>
    <input type="text" name="breed" id="pet-breed"/>

  <label for="pet-age">Pet age</label>
    <input type="text" name="age" id="pet-age"/>

  <label for="availability">Ready for adoption?</label>
    <select id="availability" name="status">
      <option value="Available">Available</option>
      <option value="Reserved">Reserved</option>
      <option value="Adopted">Adopted</option>
    </select>


<p>Original Admission Date: <%= @animals.admission_date %></p>
  <label for="date-added">Change Admission Date:</label>
    <input type="text" name="admission_date" id="date-added"/>

  <input type="submit" value="Update Information"/>


</form>

<a href="/">Home</a>
