<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Nanum+Gothic" rel="stylesheet">
    <title>RMAS</title>
  </head>
  <body>
    <h1>Rescue Me Animal Shelter</h1>

    <a href="/animals/">Animals</a>
    <a href="/donate_pet/">Re-Home a Pet</a>
    <a href="/owners/">Owners</a>
    <a href="/adoptions/">Adoptions</a>

    <h2>Welcome!</h2>

    <p>Greetings friend! Welcome to our house full of cats and dogs! We are here
    to provide care and provision for any animal that happens upon our doorstep.</p>
    <p>Here at RMAS we believe that animals should be cherished and loved as you would
    your own child. So we've taken it upon ourselves to set up a home for collecting
    pets in need and adopting them out after they've reached a certain degree of health
    and training. We are here to help provide a vetting process for our animals to find
    a happy home, as well as to suit the needs of what you are looking for.</p>
    <div class="<img src="/images/cat_and_dog.jpg" alt="">">

    </div>
  </body>
</html>
