<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style_new.css">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Nanum+Gothic" rel="stylesheet">
    <title>RMAS</title>
  </head>
  <body>

    <h1>Fill out form to donate your pet to our care</h1>


    <div class="content-container">
        <div class="alignment-container">
    <form method="post" action="/animals/">
      <label for="pet-name">Pet Name:</label>
        <input type="text" name="name" id="pet-name"/>
      <br>
      <label for="type-select">Select type of Animal:</label>
        <select id="type-select" name="type">
          <option value="Cat">Cat</option>
          <option value="Dog">Dog</option>
        </select>
      <br>
      <label for="pet-breed">Breed:</label>
        <input type="text" name="breed" id="pet-breed"/>
      <br>
      <label for="pet-age">Pet age (months/years):</label>
        <input type="text" name="age" id="pet-age"/>
      <br>
      <textarea name="description" rows="10" cols="30">Short Description</textarea>
      <br>
      <label for="availability">Ready for adoption?</label>
        <select id="availability" name="status">
          <option value="Available">Available</option>
          <option value="Unavailable">Unavailable</option>
        </select>
      <br>


      <label for="date-added">Today's date</label>
        <input type="text" name="admission_date" id="date-added"/>
      <br>
      <input type="submit" id="add" value="Add Pet" style="font-size: 40px;"/>

      </form>
        </div>
      </div>

    <div class="link-container">
    <a href="/">Home</a>
    </div>


  </body>
</html>
