
<p>First Name: <%= @owners.first_name %></p>
<p>Last Name: <%= @owners.last_name %></p>

<a href="/edit_owner/<%= @owners.id %>">Edit</a>
<a href="/delete_owner/<%= @owners.id %>">Delete</a>
<a href="/">Home</a>
