body h1 {
  font-size: 50px;
  font-family: 'Indie Flower', cursive;
  text-align: center;
  text-shadow: 3px 3px #a0beef;
  padding: 20px;
  border: solid 3px;
  border-color: #black;
  border-radius: 15px;
  background-image: radial-gradient(#82ffff 5%, #b5e2ff 30%, #68baed 50%);
  font-style: oblique;
  color: #1e3342;
}

body {
  background-image: linear-gradient(to bottom right, #68baed 35%, #5fefdc 75%);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

body p {
  text-align: center;
  font-weight: bold;
}

.animal-container {
  font-size: 15px;
  background-image: url('/images/cat_and_dog_3.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid black 1px;
}


.content-container {
  font-weight: bold;
  background-color: white;
  text-align: center;
  padding: 20px;
  margin: 20px;
  border: solid black 2px;
  border-radius: 50px;
  width: 500px;
  opacity: 0.5;
  overflow: scroll;
  content: normal;
  align-items: center;
  display: flex;
}

.link-container {
  justify-content: space-evenly;
  text-align: center;
}
