* {
background-color: #68baed;
font-family: 'Nanum Gothic', sans-serif;
text-decoration: none;
}

body h1 {
  font-size: 50px;
  font-family: 'Indie Flower', cursive;
  text-align: center;
  text-shadow: 3px 3px #a0beef;
  padding: 10px;
  margin: 10px;
  border: solid 10px;
  border-color: #68baed;
  border-radius: 15px;
  background-image: radial-gradient(#82ffff 5%, #b5e2ff 30%, #68baed 50%);
  font-style: oblique;
  color: #1e3342;
}

.animal-container {
  font-size: 15px;
  background-image: url('/images/cat_and_dog_2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.single-animal-container {
  text-align: center;
  padding: 20px;
  margin: 120px;
  border: solid black 2px;
  border-radius: 50px;
  width: 500px;
  opacity: 0.5;
  overflow: scroll;
  content: normal;
  align-items: center;
}
