* {
  font-family: 'Nanum Gothic', sans-serif;
  text-decoration: none;
}

body {
  background-image: linear-gradient(to bottom right, #68baed 35%, #5fefdc 75%);
}

body h1 {
  text-shadow: 3px 3px #a0beef;
  font-size: 40px;
  justify-content: flex-end;
  text-align: right;
  padding: 20px;
  border: solid 3px;
  border-color: #black;
  border-radius: 15px;
  background-image: radial-gradient(#82ffff 5%, #b5e2ff 30%, #68baed 50%);
  font-family: 'Indie Flower', cursive;
  font-style: oblique;
  color: #1e3342;
}

body a {
  font-size: 20px;
  padding: 20px;
}



body h2 {
  text-shadow: 3px 3px #a0beef;
  text-align: center;
  font-size: 50px;
  padding: 75px;
  font-family: 'Indie Flower', cursive;
  background-image: url('/images/white_paw_print.png');
  background-size: 150px;
  background-repeat: no-repeat;
  background-position: center;
}

body p {
  text-indent: 50px;
  float: left;
  font-size: 20px;
  padding: 10px;
  margin-right: 600px;
  border: 30px;
}

div {
  background-image: url('/images/cat_and_dog.jpg');
  background-size: contain;
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: right;
}
